<div style="padding: 10px;padding-top: 0px;"><%=link_to image_tag("restro_page.png",:size=>"315x130",:class=>"img-rounded"),root_path%></div>
<div style="padding: 10px">
<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fpages%2FNews-Feed-X%2F418648291534113&amp;width=315&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:315px; height:290px;" allowTransparency="true"></iframe></div>